/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 20px;
  font-family: "Syne";
  color: #1d6154;
  background-color: white;
  border: 1px solid #1d6154;
}

button:hover {
  background-color: #1d6154;
  color: white;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #b1663c;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
.main-img {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio {
  padding-top: 60px;
  padding-left: 40px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 35%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#form-login form {
  display: flex;
  flex-direction: column;
}

#form-login {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-login h2 {
  padding-bottom: 10px;
  padding-top: 90px;
}

#form-login > * {
  text-align: center;
}

#form-login form {
  width: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#form-login label {
  display: flex;
  text-align: left;
}

#form-login input {
  height: 50px;
  width: 350px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#form-login label {
  margin: 2em 0 1em 0;
}
#form-login textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#form-login #connecter {
  background-color: #1d6154;
  color: white;
  width: 60%;
  height: 45px;
}

#form-login #connecter:hover {
  background-color: white;
  color: #1d6154;
}

#form-login a {
  color: black;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.login-nav a {
  color: black;
  text-decoration: none;
}

.login-nav a.active {
  font-weight: bold;
}

.edition-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 60px;
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
}

.edition-bar p {
  font-family: "Work Sans";
  padding-right: 20px;
}

.edition-bar button {
  font-family: "Work Sans";
  color: black;
  font-weight: 600;
}

.edition-bar button:hover {
  background-color: white; /* La même couleur que celle utilisée normalement */
}

.fa-light.fa-pen-to-square {
  color: white;
  margin-right: 30px;
}

.edition-bar i {
  padding-right: 5px;
}

#edit-1 {
  display: flex;
  gap: 5px;
  padding-left: 58px;
  padding-top: 25px;
  cursor: pointer;
}

#edit-2 {
  display: flex;
  gap: 5px;
  padding-bottom: 30px;
  cursor: pointer;
}

.edit-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* Modale (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenu Modale/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0% auto; /* 15% from the top and centered */
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 70px 20px 70px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 70%;
  max-width: calc(100vw - 100px);
  border-radius: 15px;
  position: relative;
  max-height: 90%;
}

#myModal {
  display: none;
}

.modal-content h2 {
  font-family: "Work Sans";
  color: black;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: 400;
  position: relative;
}

/* Media Queries pour ajuster la modale sur les petits écrans */
@media (max-width: 768px) {
  .modal-content {
    width: 80%; /* Réduisez la largeur pour les petits écrans */
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 90%; /* Réduisez encore la largeur pour les écrans plus petits */
  }
}

#modal-works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  position: relative;
}

.modal-content button {
  display: block;
  margin: 0 auto;
  text-align: center;
  align-self: center;
  background-color: #1d6154;
  color: white;
  margin-top: 40px;
}

.modal-content button:hover {
  background-color: white;
  color: #1d6154;
}

.modal-content p {
  color: #d65353;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
  font-family: "Syne";
}

#modal-works img {
  width: 94px;
  height: 126px;
}

#modal-works figure {
  position: relative;
}

.trash-icon {
  position: absolute;
  top: 7px;
  right: 4px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.arrow-icon {
  position: absolute;
  top: 7px;
  right: 29px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

.spacer {
  color: #b3b3b3;
  width: 90%;
  border: 1px solid #b3b3b3;
  margin: 0 auto;
}

/* Positionnement de x pour fermer la modale */
.close {
  margin: 10px;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Modale 2 AJOUT PROJET (background) */
.modal-2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Contenu Modale numéro 2 AJOUT PROJET */
.modal-content-2 {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 50px 70px 20px 70px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 75%;
  border-radius: 15px;
  position: relative;
}

.modal-content-2 h2 {
  font-family: "Work Sans";
  color: black;
  padding-top: 30px;
  font-weight: 400;
  position: relative;
}

.add-project {
  position: relative;
}

.arrow-left {
  margin: 10px;
  font-size: 30px;
  position: absolute;
  top: 21px;
  left: 14px;
  cursor: pointer;
}

.close-modal {
  margin: 10px;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 14px;
  cursor: pointer;
}

.image-input-container {
  background-color: #e8f1f6;
  border-radius: 5px;
  padding: 30px 200px 20px 200px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 150px;
}

.image-input-container button {
  width: 200px;
  color: #306685;
  background-color: #cbd6dc;
  cursor: pointer;
}

.image-input-container p {
  width: 150px;
}

#image-input {
  display: none;
}

.my-form {
  margin: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  font-weight: 500;
}

.form-group input,
select {
  border: none;
  box-shadow: 0px 4px 14px 0 rgba(0, 0, 0, 0.09);
  height: 40px;
}

.spacer-2 {
  color: #b3b3b3;
  width: 100%;
  border: 1px solid #b3b3b3;
}

#submit-modal {
  width: 236px;
  height: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
  align-self: center;
  background-color: #a7a7a7;
  color: white;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

#image-preview {
  height: 113%;
  object-fit: cover;
}

#image-error {
  color: red;
  height: 10px;
  text-align: center;
}

#select-error,
#title-error {
  color: red;
  text-align: center;
  padding-top: 10px;
}

#secondModal {
  display: none;
}
